/* #region Essentials  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* #endregion */

/* #region Debug */

.debug .wildcard {
    background: teal;
}

/* #endregion */

/* #region Main */

.main_container {
    width: 575px;
    margin: auto;
    margin-top: 2%;
    padding: 0 1%;
}

/* #region Wildcard */

.wildcard {
    float: left;
    width: 32%;
    height: 48%;
    margin: 1%;
    position: relative;
    margin-bottom: 5px;
    margin-left: 1px;
}

/* #region Images */

.onclick01:active {}

/* #endregion Images */

img {
    width: 100%;
    position: relative;
    z-index: 0;
}

.onclick {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

img:active {
    z-index: -2;
}

/* #endregion */

/* #region Wildcard Text */

.brand, .type, .price {
    line-height: .7rem;
    display: block;
}

.brand, .price {
    font-size: .6rem;
}

.brand {
    font-size: .6rem;
}

.type {
    font-size: .7rem;
    font-weight: 700;
}

.price {
    font-size: .7rem;
}

.red_text {
    color: red;
}

.crossed_text {
    text-decoration: line-through;
}

/* #endregion */

/* #region Wildcard Tags */

.tags_pair {
    position: absolute;
    bottom: 50px;
    float: left;
    display: block;
    color: white;
    font-size: .6rem;
}

.pricing, .sostenibility {
    padding: 3px;
}

.pricing {
    background: #eb0037;
    margin-right: 5px;
}

.sostenibility {
    background: #00875a;
    left: 30px;
}

.follow {
    position: absolute;
    background: white;
    padding: 4px 8px;
    top: 8px;
    right: 0px
}

/* #endregion */

/* #endregion */

/* Footer */

footer {
    text-align: center;
}

.signature {
    color: turquoise;
}